REPO_URL: "git@github.com:framgia/rails5_skeleton.git"

EMAIL_USERNAME: "sample@sample.com"
EMAIL_PASSWORD: "sample1"
HOST: "localhost:3000"

AWS_ACCESS_KEY_ID: "AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY: "AWS_SECRET_ACCESS_KEY"
S3_BUCKET_NAME: "S3_BUCKET_NAME"

DATABASE_HOSTNAME: "localhost"
DATABASE_NAME: "rails_app_development"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: ""
REDIS_HOSTNAME: "localhost"

RAILS_ENV: "development"
SECRET_KEY_BASE: "9bb462167302ff84eb69f3820e97d80a4155fcba8514feb2fd66bbd512fd77d6d7b9bf26ef3c205ed260f152c93a548ed4ea87a4dd22d3c616bac2db297eb621"
DEVISE_SECRET_KEY: "10aac2ee960bda9c16331b09c201b767ead785e96a59bff3273fd43bc55a19566a7ad563897ea434b8f96333a910e6168afcb30b5e0e70a5fd2231ba0c237a55"

WEB_SERVER: "unicorn"
NUM_UNICORN_WORKERS: "3"
